.streams {
    overflow: hidden;
}

.stream-item {
    float: left;
    margin-right: 10px;
}

.track-button {
    font-family: monospace;
    font-size: 18px;
    transition: background-color 100ms linear, transform 100ms linear;
}

.track-button.hover {
    transform: scale(1.2, 1.2);
    background-color: #2299ee;
}
