#container {
    width: 1200px;
    margin: auto;
    padding: 30px;
}
.streams {
    overflow: hidden;
    padding: 30px;
}

.stream-item {
    float: left;
    margin-right: 10px;
}

.track-button {
    font-family: monospace;
    font-size: 18px;
    transition: background-color 100ms linear, transform 100ms linear;
}

.track-button.hover {
    transform: scale(1.1, 1.1);
    background-color: #2299ee;
}
